*, *::before, *::after { box-sizing: border-box; }

body{
    background-image: url(../images/background.webp);
    background-size: cover;
    font-size: 3rem;
    font-family: 'Dancing Script', cursive;
    color: lightgoldenrodyellow;
    text-align: center;
}

.neon_container{
    color: #fff;
    text-shadow:
        0 0 7px #fff,
        0 0 10px #fff,
        0 0 21px #fff,
        0 0 42px #f25757,
        0 0 82px #f25757,
        0 0 92px #f25757,
        0 0 102px #e50b0b,
        0 0 151px #e50b0b;
}

.neon_container h2{
    margin-top: -5px;
}

.defile{
    margin-top: -50px;
    margin-bottom: 30px;
    display: block;
    width: 100%;
    transform: translateX(100%);
    animation: move 30s linear infinite;
}

@keyframes move{
    to { transform: translateX(-100%); }
}

nav{
    background-color: rgba(255, 0, 0, 0.3);
    border: 3px dotted red
}

nav ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav li{
    padding: 0.5rem;
    flex: auto;
    text-align: center;
}

nav a{
    color: red;
}

nav a:hover{
    color: green;
}

.logoMaisonneuve img{
    max-width: 100px;
    max-height: 100px;
    margin: 0 auto 0 auto;
}



