body{
    background-image: url(../../images/showMaiden/bgImg.png);
    background-size:contain;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

.titre{
    width: fit-content;
    height: auto;
    margin-top: 330px;
    display: inline-block;
    margin-bottom: 30px;
    padding: 5px;
    text-shadow: 3px 3px 4px black;
}

.images{
    margin-left: 30px;
    width: 1000px;
    height: 600px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    row-gap: 1em;
}

.images img{
    border: 2px solid black;
    border-radius: 20px;
    display: block;
    width: 100%;
    height: 100%;
    max-width: 1000px;
    max-height: 600px;
}
