.bgnavbar {
    margin-top: 10px;
}

.bgindex{
    background-image: url("../images/bgindex.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
}

.bgcommandes{
    background-image: url("../images/bgcommandes.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
}

.infoRestoContainer{
    border: 2px solid black;
    background-color: goldenrod;
    border-radius: 10px;
    margin-left: 30px;
    padding: 15px;
    min-width: 350px;
}

.infoRestoContainer p{
    font-size: 18px;
    font-weight: bold;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: white;
    text-shadow: 0 0 21px black;
}

.navOptions{
    display: flex;
    justify-content: right;
}

.dvm, .con, .dcn{
    font-size: 30px;
    font-weight: bold;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-shadow: 0 0 21px black;
    color: white;
    cursor: pointer;
    margin: 70px
}

.menuOptions{
    margin-top: 60px;
    background-color: goldenrod;
    padding-top: 15px;
    border-radius: 10px;
    border: 2px solid black;
}

.row{
    margin-bottom: 30px;
}

#info{
    color:red;
    font-size: 12px;
}
#formEnregErr, #formConnexionErr{
    color: red;
    font-size: 13px;
    font-weight: bold;
}

#card-type{
    align-self: center;
    font-size: 2rem;
}

.card {
    width: 336px !important;
    height:550px !important;
}

.card-img-top {
    width: 100%;
    height: 50%;
    border-radius: 10px;
}

.idf {
    color: blueviolet;
    font-size: 20px;
    font-weight: bold;
}

#facture {
    font-size: 20px;
}